@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.nav__menu ul{
    list-style: none;
    margin-right: 5.2rem;
}

a{
    text-decoration: none;
}

.container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list{
    display: flex;
}

.nav__link{
    margin-left: 1.5rem;
}

.nav__name{
    margin-left: 5.2rem;
    font-size: 20px;
}

.fa-user, 
.fa-briefcase, 
.fa-suitcase, .fa-image, .fa-home{
    margin-right: 0.4rem;
}






/*-------------------- start section 1 ---------------------*/
.home{
    height: 600px;
    margin-top: 50px;
}

.home__section{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.home__section--card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    font-size: 30px;
}

.social__media a{
    margin-top: 1rem;
}

.social__media--item:hover{
    color: blueviolet;
}

.screen__text{
    margin-top: 3rem;
    width: 500px;
}

.screen__text a{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.screen__text--title{
    font-size: 80px;
    margin: 1rem 0 0.5rem 0;
}

.screen__text--subtitle{
    margin-bottom: .5rem;
}

.screen__text--description{
    margin: 0 3rem 3rem 0;
}

.button__flex{
    display: inline-block;
    width: 170px;
    height: 80px;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1.5rem 0 0 1rem;
    background-color: blueviolet;
}

.button__flex:hover{
    background-color: rgb(85, 6, 85);
    transition: 0.3s;
}

.home__screen--scroll{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.screen__scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    margin-top: 3rem;
}

.fa-mouse{
    font-size: 2.5rem;
    margin-right: .5rem;
}

.screen__scroll span{
    font-size: 18px;
    margin-right: 5px;
}

.home__screen--image img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1.5rem;
}
/* -------------end section 1------------------ */


/* ------------start section 2 -----------------*/
.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title{
    font-size: 25px;
}

.about span{
    margin-bottom: 3rem;
}

.about__subtitle{
    font-size: 12px;
}

.about__info{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
}

.about__info img{
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.about__info--text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 3rem;
    width: 450px;
    margin-left: 1.5rem;
}

.about__info--details{
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem 3rem 0;
}

.detail__box--digit{
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.5rem;
}

.button__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: blueviolet;
    margin: 1rem 0;
}

.button__box:hover{
    background-color: rgb(85, 6, 85);
    transition: 0.3s;
}

.fa-cloud-download-alt{
    margin-left: 0.5rem;
}

.box__arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrolling__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border-radius: .5rem;
}

.fa-arrow-up{
    color: white;
}
/* ----------------end section 2 ----------------*/


/* -------------- Start section 3 -------------------*/

.Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 1rem 0;
}

.Skills__text{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.skills__field{
    width: 1000px;
    padding-left: 4rem;
}

.skills__field--section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.skills__section{
    padding-left: 1.8rem;
}

.skill__item{
    margin: 1rem 0;
}

.skill__title{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    margin-bottom: 10px;
}

.scrolling__chevron{
    margin-left: 3rem;
    height: 310px;
}

.up__within .fa-chevron-up{
    cursor: pointer;
}

.headings__text--title{
    font-size: 16px;
    margin: 0.3rem 0 1rem 0;
}

.field__section--details{
    margin-top: 1.5rem;
    width: 400px;
    padding: 15px 0;
}

.skills__bar, 
.skills__bar--css,
.skills__bar--react,
.skills__bar--javascript,
.skills__bar--python,
.skills__bar--firebase,
.skills__bar--node,
.skills__bar--php,
.skills__bar--figma,
.skills__bar--photoshop,
.skills__bar--sketch,
.skills__bar--html{
    height: 5px;
    border-radius: 0.5rem;
}

.skills__bar{
    background-color: rgb(188, 168, 207);
}

.skills__bar--react, 
.skills__bar--javascript,
.skills__bar--html,
.skills__bar--css,
.skills__bar--python,
.skills__bar--firebase,
.skills__bar--node,
.skills__bar--php,
.skills__bar--sketch,
.skills__bar--figma,
.skills__bar--photoshop,
.skills__bar--html{
    display: block;
    background-color: blueviolet;
}

.skills__bar--html{
    width: 90%;
}

.skills__bar--react{
    width: 85%;
}

.skills__bar--css{
    width: 80%;
}

.skills__bar--javascript{
    width: 60%;
}

.skills__bar--python{
    width: 55%;
}

.skills__bar--firebase{
    width: 90%;
}

.skills__bar--node{
    width: 70%;
}

.skills__bar--php{
    width: 80%;
}

.skills__bar--sketch{
    width: 85%;
}

.skills__bar--figma{
    width: 90%;
}

.skills__bar--photoshop{
    width: 85%;
}

#none_1, #none_2{
    height: 28px;
}

#none_4, #none_3{
    background-color: white;
}

.section__details--headings{
    display: flex;
    gap: 0.8rem;
}

.details__headings--text{
    display: flex;
    flex-direction: column;
}

.fa-drafting-compass, .fa-code, .fa-crop-alt {
    height: 30px;
    margin-top: 0.5rem;
}

.section__details--headings .fa-chevron-up{
    height: 30px;
    margin-top: 0.6rem;
}
/*----------------- end section 3 -----------------*/

/*---------------- start section 4 ----------------*/

.qualification{
    margin: 3rem 0;
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: 0.3rem;
}

.qualification__text--title{
    font-weight: bold;
    font-size: 25px;
}

.qualification__text--subtitle{
    font-size: 15px;
}

.qualification__field{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.qualification__field--education{
    font-weight: bold;
    cursor: pointer;
}

.qualification__field--education:hover{
    color: blueviolet;
}



.qualification__about{
    display: flex;
    justify-content: space-evenly;
}
.qualification__text{
    text-align: center;
    margin: 2rem 0;
}

/* .qualification__about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.qualification__field{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}



/*----------------- end section 4 -------------------*/

/*---------------- start section 5 ------------------*/

.services{
    margin: 1.5rem 0 3rem 0;
}

.services__headings{
    text-align: center;
}

ul li{
    list-style: none;
}

.services__data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1.5rem;
}

.data__boxes--designation{
    border: solid;
    width: 350px;
    box-shadow: 2px solid rgb(51, 46, 46);
   
}

.boxes__designation--details{
    visibility: hidden;
}




/*---------------- end section 5 ----------------*/

/*--------------- start section 6 ---------------*/

.portfolio{
    border: dashed;
    margin-top: 3rem;
    padding-top: 3rem;
}

.portfolio__headings{
    text-align: center;
}



