@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

/* @media only screen and (min-width: 968px) {
    body {
      ;
    }
  } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.nav__menu ul{
    list-style: none;
    margin-right: 5.2rem;
}

a{
    text-decoration: none;
}

.container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list{
    display: flex;
}

.nav__link{
    margin-left: 1.5rem;
}

.nav__name{
    margin-left: 5.2rem;
    font-size: 20px;
}









.home{
    height: 500px;
    margin-top: 50px;
}

.home__section{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.home__section--card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
    font-size: 30px;
}

.social__media a{
    margin-top: 1.5rem;
}

.social__media--item:hover{
    color: blueviolet;
}

.screen__text a{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.screen__text--title{
    font-size: 40px;
    margin-bottom: 1rem;
}

.screen__text--subtitle{
    margin-bottom: .5rem;
}

.screen__text--description{
    margin: .5rem 3rem 1.5rem 0;
}

.button__flex{
    display: inline-block;
    width: 160px;
    height: 70px;
    border-radius: 0.5rem;
    padding: 1.5rem 0 0 0.8rem;
    background-color: blueviolet;
}

.button__flex:hover{
    background-color: rgb(85, 6, 85);
    transition: 0.3s;
}

.home__screen--scroll{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.screen__scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
}

.fa-mouse{
    font-size: 2.5rem;
    margin-right: .5rem;
}

.screen__scroll span{
    font-size: 18px;
    margin-right: 5px;
}

.home__screen--image img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1.5rem;
}
/* end section 1 */


/* start section 2 */
.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about span{
    margin-bottom: 3rem;
}

.about__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__info img{
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.about__info--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.info__text--description{
    margin-bottom: 1rem;
}

.about__info--details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    margin: 15px 25px;
    height: 100px;
    width: 120px;
}

.detail__box--digit{
    position: relative;
}

.detail__box--designation{
    position: relative;
    margin-bottom: 1rem;
}

.info__text--button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.button__box:hover{
    background-color: rgb(85, 6, 85);
    transition: 0.3s;
}

.fa-cloud-download-alt{
    margin-left: 0.5rem;
}